@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700");

@font-face {
    font-family: Torus;
    src: url("/static/fonts/Torus\ Light.woff") format("woff");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: Torus;
    src: url("/static/fonts/Torus\ Thin.woff") format("woff");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Torus;
    src: url("/static/fonts/Torus\ Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Torus;
    src: url("/static/fonts/Torus\ SemiBold.woff") format("woff");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Torus;
    src: url("/static/fonts/Torus\ Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Torus;
    src: url("/static/fonts/Torus\ Heavy.woff") format("woff");
    font-weight: 800;
    font-display: swap;
}

html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, Torus, Quicksand, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #121212;

    /* overflow-x: hidden; */
    overflow-y: overlay;

    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    padding: 0.5rem 0.5rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    /* html {
        color-scheme: dark;
    } */
    body {
        color: white;
        /* background: black; */
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.AppContainer {
    position: absolute;
    top: 80px;

    width: 100vw;
    min-height: calc(100vh - 80px);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.App {
    /* position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-inline: auto; */

    width: 1000px;
    min-height: calc(100vh - 150px);

    margin-bottom: 20px;
}
