.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;

    padding: 30px;

    background-color: #151515;
    color: white;
    border-radius: 20px;

    position: relative;
}

.h1 {
    font-size: 28px;
    margin: 10px;
}

.err {
    color: red;
    font-size: 15px;

    margin: 10px;
}

.loginBtn {
    width: 100%;

    background-color: #202020;

    color: white;
    font-size: 1rem;
    font-family: Torus;


    padding: 15px;
    border-radius: 10px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.loginBtn:hover {
    background-color: #363636;
}

.input {
    width: 350px;

    outline: none;
    border: none;

    font-size: 13px;
    font-family: Torus;

    padding: 15px;

    border-radius: 10px;

    background-color: #202020;
    color: white;
}

.span {
    color: #1ae8db;
}

.exitBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    color: white;
    top: 1rem;
    right: 0.875rem;
}

.formBackground {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
