.topicContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;

    width: 100%;

    background-color: #151515;
    border-radius: 20px;
}

.topicHeader {
    width: 100%;
    padding: 10px;
}

.topicTitle {
    font-size: 24px;
    font-weight: 500;
}

.topicAuthor {
    font-weight: 300;
}

.topicAuthor span {
    font-weight: 500;
}

.postContainer {
    width: 100%;
    min-height: 250px;

    background-color: #191919;
    border-radius: 10px;

    display: flex;

    overflow: hidden;
}

